html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#mapView {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80vw;
}

#sidePanel {
  position: fixed;
  top: 0;
  left: 80vw;
  height: 100vh;
  width: 20vw;
}


.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}

.modalcontent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.options {
    list-style-type:none;
    margin:25px 0 0 0;
    padding:0;
}

.options li{
    float:left;
    margin:0 5px 0 0;
    width:100px;
    height:40px;
    position:relative;
}


.options label, .options input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.options input[type="radio"] {
    opacity:0.01;
    z-index:100;
}

.options input[type="radio"]:checked + label,
.Checked + label {
    background:yellow;
}

.options label {
    padding:5px;
    border:1px solid #CCC;
    cursor:pointer;
    z-index:90;
}

.options label:hover {
     background:#DDD;
}


label > input{ /* hide radio button*/
    visibility: hidden;
    position: absolute;
}
label > input + img{ /* image style for icons*/
    cursor:pointer;
    border:2px solid transparent;
    height: 150px;
    width: 150px;
}

label > input:checked + img{ /*radio checked imaged style*/
    border:2px solid #f00;
}
